<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "学生问卷", root_path, {target: "_blank"} %></li>
        <li><%= link_to "企业问卷", new_corp_path, {target: "_blank"} %></li>
        <% if logged_in? %>
          <li><%= link_to "省份", admin_provinces_path %></li>
          <li><%= link_to "院校", admin_schools_path %></li>
          <li><%= link_to "学生问卷题目", admin_categories_path %></li>
          <li><%= link_to "学生结果", admin_questionnaires_path %></li>
          <li><%= link_to "企业结果", admin_corps_path %></li>
          <li><%= link_to "学生结果csv", admin_root_path(format: "csv") %></li>
          <li><%= link_to "企业结果csv", admin_corps_path(format: "csv") %></li>
          <li><%= link_to "退出", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "登录", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
